<div class="alert alert-success" role="alert">
  <h4 class="alert-heading" align="center">Спасибо, <%= @fio %>!</h4>
  <p align="center">Ваша встреча успешно отправлена на модерацию, в случае одобрения, она появится на главной странице!</p>
  <hr>
  <p class="mb-0" align="center">Модерация в среднем занимает от 30 минут до 6 часов (в зависимости от загруженности)</p>
</div>

<!-- Тут список встреч уже одобренных -->